@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --bg__01d: linear-gradient(0deg, #199ef0 0%, #1921f0 100%);
    --bg__01n: linear-gradient(0deg, #252ca6 0%, #141746 100%);

    --bg__02d: linear-gradient(0deg, #747ad7 0%, #4148aa 100%);
    --bg__02n: linear-gradient(0deg, #46497a 0%, #292c63 100%);

    --bg__03d: linear-gradient(0deg, #696a7d 0%, #466acb 100%);
    --bg__03n: linear-gradient(0deg, #3e3f55 0%, #332870 100%);;

    --bg__04d: linear-gradient(0deg, #4d4d59 0%, #254baf 100%);
    --bg__04n: linear-gradient(0deg, #2c2d3c 0%, #271f57 100%);

    --bg__09d: linear-gradient(0deg, #626e75 0%, #5f64e3 100%);
    --bg__09n: linear-gradient(0deg, #3c3d49 0%, #393557 100%);

    --bg__10d: linear-gradient(0deg, rgba(183,202,214,1) 0%, rgba(64,67,152,1) 100%);
    --bg__10n: linear-gradient(0deg, rgba(69,72,124,1) 0%, rgba(20,23,70,1) 100%);

    --bg__11d: linear-gradient(0deg, rgba(77,77,89,1) 0%, rgba(33,61,133,1) 100%);
    --bg__11n: linear-gradient(0deg, rgba(33,34,45,1) 0%, rgba(29,21,78,1) 100%);

    --bg__13d: linear-gradient(0deg, rgba(155,211,245,1) 0%, rgba(98,117,250,1) 100%);
    --bg__13n: linear-gradient(0deg, rgba(87,93,189,1) 0%, rgba(47,48,66,1) 100%);

    --bg__50d: linear-gradient(0deg, rgba(133,159,176,1) 0%, rgba(118,123,242,1) 100%);
    --bg__50n: linear-gradient(0deg, rgba(86,90,166,1) 0%, rgba(48,50,78,1) 100%);
}

*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Poppins";
}

.centerXY{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-size: cover;
    background-position: center;
}

.container{
    margin-top: 5vh;
    height: 95vh;
}

.container .header .header__city{
    text-align: center;
}

.container .info-today{
    margin-top: 10px;
}

.container .info-today .info__today-left .info__today-img__weather img{
    width: 90%;
}

.container .info-today .info__today-left .info__today-txt__temp .temp{
    font-size: 5rem;
}

.container .info-today .info__today-left .info__today-txt__temp .info{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.container .info-today .info__today-right .row div:nth-child(4),
.container .info-today .info__today-right .row div:nth-child(5),
.container .info-today .info__today-right .row div:nth-child(6){
    margin-top: 2rem;
}

.container .info-today .info__today-right .row div label{
    width: 100%;
    text-align: center;
}

.container .info-today .info__today-right .row div label:nth-child(1){
    font-size: 1.75rem;
}

.container .info-today .info__today-right .row div label:nth-child(2){
    font-size: 1rem;
    color: #c8c8c8;
}

.container .info-week div{
    margin-top: 50px;
    text-align: center;
}

.container .info-week div .txt-day{
    font-size: 1.5rem;
}

.container .info-week div img{
    width: 80%;
}

.container .info-week div .txt-num{
    font-size: 1.25rem;
}

footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

@media (max-width:992px){
    body{
        background: linear-gradient(0deg, rgba(25,159,240,1) 0%, rgba(25,33,240,1) 100%);
        background-size: cover;
        background-position: center;
    }

    .container{
        margin-top: 10vh;
        margin-bottom: 10vh;
        height: auto;
    }

    .container .header .header__city{
        margin-top: 30px;
    }

    .container .header .header__city h1{
        font-size: 3rem;
    }

    .container .info-today .info__today-left .info__today-img__weather img{
        width: 80%;
    }
    
    .container .info-today .info__today-left .info__today-txt__temp .temp{
        font-size: 3rem;
    }
    
    .container .info-today .info__today-left .info__today-txt__temp .info{
        font-size: 1rem;
    }

    .container .info-today .info__today-right .row{
        margin-top: 50px;
    }

    .container .info-today .info__today-right .row div:nth-child(4),
    .container .info-today .info__today-right .row div:nth-child(5),
    .container .info-today .info__today-right .row div:nth-child(6){
        margin-top: 50px;
    }

    .container .info-today .info__today-right .row div label:nth-child(1){
        font-size: 1.5rem;
    }
    
    .container .info-today .info__today-right .row div label:nth-child(2){
        font-size: 1rem;
        color: #c8c8c8;
    }

    .container .info-week div{
        margin-top: 100px;
        padding: 0 !important;
        text-align: center;
    }

    .container .info-week div .txt-day{
        width: 100%;
        font-size: 1.5rem;
    }

    .container .info-week div img{
        width: 50%;
    }
    
    .container .info-week div .txt-num{
        width: 100%;
        font-size: 1.25rem;
    }

    footer{
        position: relative;
    }
}